<md-card data-ng-init="findAll()" layout-margin="">
    <md-toolbar class="md-table-toolbar md-default" ng-hide="show || options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>Data Mutasi - Transaksi</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="showSearch()" aria-label="Pencarian">
                <md-tooltip md-direction="bottom">Pencarian</md-tooltip>
                <md-icon>search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="loadStuff()" aria-label="Refresh">
                <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
               md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
                <th md-column md-order-by="hehe"><span>Tanggal</span></th>
                <th md-column md-order-by="material_dokumen"><span>Material Dokumen</span></th>
                <th md-column md-order-by="hehe"><span>Mat Doc SAP</span></th>
                <th md-column md-order-by="hehe"><span>No Material</span></th>
                <th md-column md-order-by="hehe"><span>Nama Material</span></th>
                <th md-column md-order-by="hehe"><span>Transaksi</span></th>
                <th md-column md-order-by="hehe"><span>Masuk</span></th>
                <th md-column md-order-by="hehe"><span>Keluar</span></th>
                <th md-column md-order-by="hehe"><span>Satuan</span></th>
            </tr>
            </thead>
            <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
            <tbody md-body>
            <tr md-row md-select="row" md-on-select="logItem" md-auto-select="options.autoSelect"
                ng-repeat="rows in data | filter: searchText | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"
                ng-dblclick="showDialogTestSelect($event, rows.queryDesc)">
                <td md-cell>{{rows.hehe}}</td>
                <td md-cell>{{rows.queryTitle}}</td>
                <td md-cell>{{rows.queryDesc}}</td>
                <td md-cell>
                    <md-button type="button" class="md-icon-button" ngclipboard
                               data-clipboard-text="{{rows.queryDesc}}" aria-label="Copy">
                        <md-tooltip md-direction="right">Copy</md-tooltip>
                        <md-icon>content_copy</md-icon>
                    </md-button>
                </td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="showDialogSave($event, $index)" aria-label="Edit">
                        <md-tooltip md-direction="right">Edit</md-tooltip>
                        <md-icon>edit</md-icon>
                    </md-button>
                </td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="showConfirmDelete($event, $index)" aria-label="Delete">
                        <md-tooltip md-direction="right">Delete</md-tooltip>
                        <md-icon>delete</md-icon>
                    </md-button>
                </td>
            </tr>
            <tr ng-if="data.length <= 0">
                <td md-cell colspan="9">
                    Data tidak ditemukan
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                         md-total="{{counted}}" md-page-select="options.pageSelect"
                         md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
