<md-dialog aria-label="Add Query" flex="">
    <form name="queriesForm" ng-cloak>
        <md-toolbar ng-hide="toolbarMsg">
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
                    <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Query Title</label>
                        <input required name="queryTitle" ng-model="row.queryTitle">
                        <div ng-messages="queriesForm.queryTitle.$error">
                            <div ng-message="required">Query Title harus diisi</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Query Desc.</label>
                        <textarea required name="queryDesc" rows="5" md-select-on-focus
                                  ng-model="row.queryDesc"></textarea>
                        <div ng-messages="queriesForm.queryDesc.$error">
                            <div ng-message="required">Query Desc. harus diisi</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-icon-button" ng-click="showDialogTestSelect($event, row.queryDesc)" ng-disabled="!row.queryDesc" aria-label="Test Query">
                <md-tooltip md-direction="top">Test Query</md-tooltip>
                <md-icon>play_arrow</md-icon>
            </md-button>
            <div flex=""></div>
            <md-button type="submit" class="md-icon-button" ng-click="saveData($event)" ng-disabled="!row.queryTitle || !row.queryDesc" aria-label="Save">
                <md-tooltip md-direction="top">Save</md-tooltip>
                <md-icon>save</md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

