<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="show || options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span></span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="showSearch()" aria-label="Search">
                <md-tooltip md-direction="bottom">Search</md-tooltip>
                <md-icon>search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="loadStuff(row.queryDesc)" aria-label="Refresh">
                <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="show &amp;&amp; !selected.length" aria-hidden="false"
                style="">
        &nbsp;&nbsp;&nbsp;
        <div class="md-toolbar-tools">
            <form flex name="filter.form">
                <div layout="row">
                    <!--<md-input-container md-no-float class="md-block">-->
                        <!--<label>Field</label>-->
                        <!--<md-icon class="material-icons">search</md-icon>-->
                        <!--<md-select ng-model="cmbSearch">-->
                            <!--<md-option ng-repeat="(key, val) in data[0]" value="{{key}}">-->
                                <!--{{key}}-->
                            <!--</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                    <md-input-container flex md-no-float class="md-block">
                        <label>Pencarian</label>
                        <md-icon class="material-icons">search</md-icon>
                        <input type="text" ng-model="searchText"
                               class="ng-pristine ng-valid ng-touched"
                               aria-invalid="false" ng-model-options="{debounce: 500}">
                    </md-input-container>
                    <div>
                        <md-button class="md-icon-button" ng-click="removeFilter();searchText='';" aria-label="close">
                            <md-icon>close</md-icon>
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
               md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
                <th md-column ng-repeat="(key, val) in data[0]" md-order-by="{{key}}"><span>{{key}}</span>
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="row" md-on-select="logItem" md-auto-select="options.autoSelect"
                ng-repeat="rows in data | filter: searchText | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td ng-repeat="columns in rows" md-cell>
                    {{columns}}
                </td>
            </tr>
            <tr ng-if="data.length <= 0">
                <td md-cell colspan="6">
                    {{res}}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                         md-total="{{counted}}" md-page-select="options.pageSelect"
                         md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>
