<div ng-controller="HomeCtrl" layout="column" style="height:100%;" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a ui-sref="default" class="md-icon-button" aria-label="Menu" ng-disabled="false">
                <md-icon class="material-icons">home</md-icon>
            </a>
            &nbsp;&nbsp;&nbsp;
            <h2 flex md-truncate>Exec App</h2>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="material-icons favorite-icon">notifications</md-icon>
            </md-button>
            <md-button ng-click="toggleRight()" class="md-icon-button" aria-label="More">
                <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section layout="row" flex="">
        <md-sidenav ng-mouseenter="hoverIn()" ng-mouseleave="hoverOut()" layout="column" ng-class="myClass"
                    md-component-id="small"
                    md-is-locked-open=true ng-show="edit">
            <md-content role="navigation" md-scroll-y="">
                <md-list>
                    <md-list-item ng-repeat="item in menu" ng-click="close()">
                        <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-sidenav ng-mouseenter="hoverIn()" ng-mouseleave="hoverOut()" layout="column"
                    class="rightnav md-whiteframe-z2"
                    md-component-id="big" md-is-locked-open=true ng-show="hoverEdit">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate></h2>
                <md-button ng-click="toggleClass()" class="md-icon-button" aria-label="Menu"
                           ng-disabled="false">
                    <md-icon class="material-icons">{{buttonToggle}}</md-icon>
                </md-button>
            </div>
            <md-content role="navigation">
                <md-list>
                    <md-list-item ng-repeat="item in menu" ng-click="close()" ui-sref="{{item.link}}">
                        <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                        <p class="md-body-2">{{item.name}}</p>
                        <span flex></span>
                        <md-icon>chevron_right</md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
        <!--<md-sidenav-->
        <!--class="md-sidenav-left"-->
        <!--md-component-id="left"-->
        <!--md-is-locked-open="$mdMedia('gt-md')"-->
        <!--md-whiteframe="4">-->

        <!--<md-toolbar class="md-theme-indigo">-->
        <!--<h1 class="md-toolbar-tools">Sidenav Left</h1>-->
        <!--</md-toolbar>-->
        <!--<md-content layout-padding ng-controller="LeftCtrl">-->
        <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>-->
        <!--Close Sidenav Left-->
        <!--</md-button>-->
        <!--<p hide show-gt-md>-->
        <!--This sidenav is locked open on your device. To go back to the default behavior,-->
        <!--narrow your display.-->
        <!--</p>-->
        <!--</md-content>-->

        <!--</md-sidenav>-->
        <md-content flex="" layout-padding="">
            <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                    href="http://browsehappy.com/">upgrade
                your browser</a> to improve your experience.</p>
            <![endif]-->
            <ui-view></ui-view>
            <!--<div>AngularJS seed app: v<span my-app-version></span></div>-->
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <div ng-controller="RightCtrl">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 flex md-truncate></h2>
                        <md-button ng-click="close()" class="md-icon-button" aria-label="Menu"
                                   ng-disabled="false">
                            <md-icon class="material-icons">close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content layout-padding="">

                </md-content>
            </div>
        </md-sidenav>
    </section>
</div>
